.checkout{
    display: flex;
    height:max-content;
    padding:20px;
    background-color: white;
}
.checkout__ad{
    width:100%;
    margin-bottom: 10px;
}
.checkout__title{
    border-bottom: solid lightgray;
    padding:15px;
    margin-bottom: 5px;
}
